{{!-- <div class="jumbotron text-center container">
    <h1 style="color:red">Craig's Gregarious Games</h1>
</div>

<div class="navbar navbar-default container">
    <div clss="container-fluid">
        <div class="navbar-header">
            
            {{#link-to 'greggames' class="navbar-brand"}}Home{{/link-to}}

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'greggames.about'}}About{{/link-to}}

                </li>

                  <li>
                    {{#link-to 'greggames.gamelibrary'}}GregLibrary{{/link-to}}
                </li>

            </ul>

        </div>

    </div>

</div>
<div class="container">
    {{outlet}}

</div> --}}

<h1>Greggames</h1>